@page "/books/{workId}"
@inject IOpenLibraryServices LibraryService
@inject IFavoritesService FavoritesService
@rendermode InteractiveServer

<h3>Book Details</h3>

@if (book == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h4>@book.Title</h4>

        <strong>Subjects:</strong>
        <ul>
            @foreach (var s in subjects)
            {
                <li>@s</li>
            }
        </ul>
        @if (!IsFavorite)
        {
            <button @onclick="AddToFavorites" class="btn btn-success">Add To Favorites</button>
        }
        else
        {
            <button @onclick="AddToFavorites" class="btn btn-danger">Remove From Favorites</button>
        }

    </div>
}

@code {
    [Parameter]
    public string workId { get; set; }

    private Models.BookDetails book;
    private List<string> subjects;
    private bool IsFavorite { get; set; }


    protected override async Task OnInitializedAsync()
    {
        book = await LibraryService.GetBookDetailsAsync(workId);
        subjects = book.Subjects ?? new List<string>();
        IsFavorite = FavoritesService.GetFavorites().Any(x => x.Title == book.Title);
    }

    public void AddToFavorites(MouseEventArgs e)
    {
        if (!IsFavorite)
        {
            FavoritesService.AddToFavorites(new Book { Title = book.Title });
            IsFavorite = true;
        }
        else
        {
            FavoritesService.RemoveFromFavorites(new Book { Title = book.Title });
            IsFavorite = false;
        }
    }
}
